/* Variables */
/* Global Changes */
html {
  background-color: #acbebe;
  color: #20232a;
}
section#only-content *,
section#column-layout > :not(div) *,
header {
  font-family: 'Roboto', 'Lato', 'Poppins', 'Montserrat' !important;
  background-color: #a01d26;
  color: #f4f4ef;
}
/* Header Layout */
/* Fix for fonts due to W3.CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 300;
}
/* Main Header Layouts */
html body header#top-bar {
  position: sticky;
  top: 0;
  margin-bottom: 40px;
}
html body header#top-bar * {
  margin: 0;
}
html body header#top-bar div#mainheader {
  margin: 0;
}
html body header#top-bar div#leftheaderlink {
  display: inline;
  position: fixed;
  left: 0;
  top: 0;
}
html body header#top-bar div#leftheaderlink a {
  color: #20232a;
  text-decoration: none;
}
