/* Global Variables */
:root {
  --primary-color: #F95700;
  --secondary-color: #FFFFFF;
  background-color: var(--secondary-color);
}

/* General Modal Content */
#modal-content {
  display: none;
}

/* Header Layout */
header {
  /* Link to homepage */
  & div#leftheaderlink {
    width: calc(50% - 20px);
    /* Link Styling */
    & a:link, & a:visited {
      color: var(--primary-color) !important;
      text-decoration: none;
    }
    & a:hover, & a:active {
      color: var(--primary-color) !important;
      text-decoration: underline;
    }
  }
}

/* Content Layout */
main {
  & article {
    width: 56vw;
  }
  & aside {
    width: 28vw;
  }
  & article, & aside {
    float: left;
    margin: auto 4vw;
  }
}