/* Variables */
/* Global Changes */
html,
html body footer * {
  background-color: #353c3f;
  color: #ff8d3f;
}
html body * {
  font-family: 'Roboto', 'Lato', 'Poppins', 'Montserrat' !important;
  background-color: #d5d6d2;
  color: #756867;
}
/* Header Layout */
/* Fix for fonts due to W3.CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 300;
/* Main Layouts */
}
html body header#top-bar {
  position: sticky;
  top: 0;
  margin-bottom: 40px;
}
html body header#top-bar * {
  margin: 0;
}
html body header#top-bar div#mainheader {
  margin: 0;
}
html body header#top-bar div#leftheaderlink {
  display: inline;
  position: fixed;
  left: 0;
  top: 0;
}
html body header#top-bar div#leftheaderlink a {
  color: #756867;
  text-decoration: none;
}
html body header#top-bar div#leftheaderlink a:link img,
html body header#top-bar div#leftheaderlink a:visited img {
  color: initial;
  background-color: initial;
  filter: saturate(0.82) brightness(0.56);
}
html body header#top-bar div#leftheaderlink a:hover img,
html body header#top-bar div#leftheaderlink a:active img {
  color: initial;
  background-color: initial;
  filter: grayscale(100%) brightness(0);
}
html body header#top-bar div#leftheaderlink .hover-text {
  display: none;
}
html body header#top-bar div#leftheaderlink:hover .hover-text {
  display: inline;
}
/* Content Layout */
html body main#main-content {
  background-color: #fff;
}
html body main#main-content article#main-content-center-column {
  width: calc(84vw - 528px);
  padding: 0;
}
html body main#main-content aside#main-content-right-bar {
  width: 528px;
}
html body main#main-content article#main-content-center-column,
html body main#main-content aside#main-content-right-bar {
  float: left;
  margin: auto 3.5vw !important;
}
html body main#main-content section#modal-content {
  display: none;
}
