/* Variables */
primary-color = #141A46
secondary-color = #EC8B5E

/* Global Changes */
html body *, html, :root
  background-color: secondary-color
  color: primary-color
  font-family: 'Roboto', 'Lato', 'Poppins', 'Montserrat' !important

/* Header Layout */
  /* Fix for fonts due to W3.CSS */
h1, h2, h3, h4, h5, h6
  font-family: inherit
  font-weight: 300

  /* Main Layouts */
html body header#top-bar
  position: sticky
  top: 0
  margin-bottom: 40px
  & *
    margin: 0
  & div#mainheader
    margin: 0
  & div#leftheaderlink
    display: inline
    position: fixed
    left: 0
    top: 0
    & a
      color: primary-color
      text-decoration: none
    & a:link, & a:visited
      & img
        color: initial
        background-color: initial
        filter: saturate(0.82) brightness(0.56)
    & a:hover, & a:active
      & img
        color: initial
        background-color: initial
        filter: grayscale(100%) brightness(0)
    & .hover-text
      display: none
    &:hover .hover-text
      display: inline


/* Content Layout */
html body main#main-content
  background-color: white
  & article#main-content-center-column
    width: calc(84vw - 528px)
    padding: 0
  & aside#main-content-right-bar
    width: 528px
  & article#main-content-center-column, & aside#main-content-right-bar
    float: left
    margin: auto 3.5vw !important
  & section#modal-content
    display: none