html {
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    font-family: "Roboto";
    }

#popout {
    width: 100%;
    height: 675px;
    margin: 16px 0;
    box-shadow: 0 !important;
    }

.w3-btn {
    width: 100%;
    margin: 16px 0 !important;
    }

#header {
    margin: 0px !important;
    }

img {
    width: 275px !important;
    margin: 16px auto auto auto;
    }

h1 {
    border-radius: 8px 8px 0 0;
    }

.formfooter {
    border-radius: 0 0 8px 8px;
    }

.pagefooter {
    position: absolute;
    bottom: 2%;
    left: 10%;
    right: 10%;
    }

/* iPads/horizontal phones */
@media only screen and (min-width: 567px) and (max-width: 823px) {
    .w3-btn {
        width: auto;
        }
    
    #popout {
        height: 650px;
        }
    }

/* Desktops/iPad Pros */
@media only screen and (min-width: 821px) {
    html {
        background-color: #eeeeee;
        }

    #popout {
        width: 450px;
        height: 590px;
        margin: 110px auto 0px auto;
        box-shadow: auto;
        }
    
    .w3-btn {
        width: auto;
        margin: auto !important;
        }
    }

