<!DOCTYPE html>

<html>
    <head>
        <link href="{% static 'global/img/favicon.png' %}" rel="icon" type="image/png">
    	<link rel="stylesheet" href="{% static 'global/css/w3.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="{% static 'chessapp/css/base.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block content %}
        {% endblock content}
    </head>
</html>
