<!DOCTYPE html>

{% load compile_static %}
{% load static %}

<html lang="en-US">
    <head>
        <!-- EXTERNAL FILES -->
        <!-- Favicon.ico -->
        <link rel="icon" href="{% static 'chessapp/img/chess-king.png' %}">
        <!-- <link href="{% static 'global/img/favicon.png' %}" rel="icon" type="image/png"> -->
        <!-- W3.CSS -->
    	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    	<!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    	<!-- Base CSS file -->
        <link rel="stylesheet" href="{% static '/COMPILED/chessapp/css/base.css' %}">
        <!-- In case the page has more external files -->
        {% block script %}
        {% endblock script %}
        
        <!-- META DECLARATIONS -->
        <!-- Responsive webpage viewport declaration -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Character set declaration -->
        <meta charset="UTF-8">
        <!-- Author and description -->
        <meta name="author" content="Niranjan R">
        <meta name="description" content="An Online Chess Website">
        
        <!-- Page title -->
        <title> {% block metatitle %}Webpage{% endblock metatitle %} - Online Chess </title>
    </head>
    <body>

        <!-- Header/Top Bar -->
        <header class="w3-card-4 w3-center w3-stretch w3-row" id="top-bar">
            {% block possiblelink %}
                <div id="leftheaderlink" class="w3-tooltip w3-col" style="inline">
                    <a href="{% url 'chessapp:home' %}">
                        <img src="{% static 'chessapp/img/exit.png' %}">
                    </a>
                    <span class="w3-text">Exit to Home Page</span>
                </div>
            {% endblock possiblelink %}
            <h1 class="w3-rest" style="text-align: center">
                {% block mainheader %}
                {% endblock mainheader %}
            </h1>
        </header>

        
        <!-- Main Content -->
        <main class="" id="main-content">

            <!-- Single Content -->
            <section id="only-content">
                {% block only %}
                {% endblock only %}
            </section>

            <!-- Multi-Column Layout -->
            <section id="column-layout" style="margin: 0 16px 0 16px" class="w3-row">
                <!-- Center Content -->
                <article id="main-content-center-column" class="w3-twothird">
                    {% block content %}
                    {% endblock content %}
                </article>

                <!-- Middle Margin -->
                <div class="w3-col" style="width: 16px">&#x2800;</div>

                <!-- Right Bar Content -->
                <aside id="main-content-right-bar" class="w3-rest">
                    {% block rightbar %}
                    {% endblock rightbar %}
                </aside>
            </section>
        </main>

        <!-- Footer -->
        <footer class="w3-container w3-section w3-center" id="footer">
            <br><br>
            Member of the staff? Click <a href="/staff">here</a>
            <br><br>
            Copyright © 2020 All Rights Reserved
            <br>Questions? Contact:
              <a href="mailto:a91.b83@gmail.com">a91.b83@gmail.com</a>
              OR
              <a href="mailto:unsolicited-mail@spam4.me">unsolicited-mail@spam4.me</a>
            <br>Enhanced with W3.CSS
            <br>Icons from Material Design Icons
            <br>Interactivity brought to you by jQuery
            <br><br>
        </footer>

    </body>
</html>
