<!DOCTYPE html>
<html>
    <head>
        <style>
            {{ CSS }}
        </style>
    </head>
    <body>
        <header>
            <h1>
                404
            </h1>
        </header>
        <section>
            <p>
                Sorry, you came to the wrong url. This page was not found in the system.
                <br />
                Click below to go to the login page
                <br />
                <a href="{% url 'chessapp:login' %}"><button>login page</button></a>
            </p>
        </section>
    </body>
</html>
