<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <script id="XHRinit">
            function runXHR(data, url)
                {
                let xhr = new XMLHttpRequest();
                xhr.open()
                };
        </script>
        <script id="WebRTC">
            "";
        </script>
        <noscript>
            Sorry! Your browser doesn't support the Javascript needed for this site.
        </noscript>
    </head>
    <body id="currentPage">
        <header>
            <h1 style="align:center;">{{ game }}</h1>
        </header>
        <section>
            <article style="width:42%;float:left">
                <div id="svgContainer">
                </div>
                <script id="svgStart">
                function redrawSVG()
                    {
                    let position = document.getElementById("svgContainer");
                    let str ='{{ current_board }}';
                  
                    let txt = str.replace(/&lt;/g,'<')
                    .replace(/&gt;/g,'>')
                    .replace(/&quot;/g,'"');
                    
                    
                    position.innerHTML = txt;
                    };
                
                redrawSVG();
                </script>
                <script id="dragDropScript">
                    var elements = document.getElementsByTagName("use");
                    for (i=0;i<16;i++)
                        {
                        elements.shift();
                        };
                    
                    for (piece in elements)
                        {
                        piece.onmousedown
                        };
                </script>
            </article>
            <aside style="float:left">
                <video autoplay playsinline id="opponentCam">
                </video>
                <audio id="opponentSound" preload="auto" autoplay>
                </audio>
            </aside>
        </section>
        <footer>
            <details>
                <summary>
                    Match history
                </summary>
                <table>
                    <tr>
                        <th>White moves</th>
                        <th>Black moves</th>
                    </tr>
                    {% for row in data %}
                    <tr>
                        {% for move in row %}
                        <td>{{ move }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </details>
        </footer>
    </body>
</html>