<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <link href="{% static 'global/img/favicon.png' %}" rel="icon" type="image/png">
    	<link rel="stylesheet" href="{% static 'global/css/w3.css' %}">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="{% static 'chessapp/css/all.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for alrt in alerts %}
            <script>
                alert("{{ alrt }}");
            </script>
        {% endfor %}
        <title>Homepage - Online Chess</title>
    </head>
    <body>
        <header>
            <h1>
                Homepage
            </h1>
        </header>
        <article>
            <header>
                <h2>
                    Your Games
                </h2>
            </header>
            <p>
                {{ no_games }}
            </p>
            <ul class="w3-ul w3-card-2">
                {% for game_w in games_white %}
                    <li><a href="../play-{{ game_w.id }}">[{{ game_w.name }}]: {{ game_w.white }} (You) vs {{ game_w.black }}</a></li>
                {% endfor %}
                {% for game_b in games_black %}
                    <li><a href="../play-{{ game_b.id }}">[{{ game_b.name }}]: {{ game_b.white }} vs {{ game_b.black }} (You)</a></li>
                {% endfor %}
            </ul>
        </article>
        <aside class="w3-card">
            <a href="../new">Start a New Game<a>
        </aside>
        <footer class="w3-container">
   	        Copyright © 2021 by somebody
            <br>
            Enhanced by W3.CSS
       	</footer>
    </body>
</html>

