{% extends 'chessapp/base.html' %}

{% load compile_static %}
{% load static %}

{% block script %}
{% for alrt in alerts %}
    <script>
        alert("{{ alrt }}");
    </script>
{% endfor %}
{% endblock script %}

{% block metatitle %}
Homepage
{% endblock metatitle%}

{% block possiblelink %}
{% endblock possiblelink %}

{% block mainheader %}
Homepage
{% endblock mainheader %}

{% block content %}
<div class="w3-padding">
    <header>
        <h2>
            Your Games
        </h2>
    </header>
</div>
<p class="w3-padding">
    {{ no_games }}
</p>
<ul>
    {% for game_w, board_w in games_white %}
        <li class="w3-card-2">
            <a href="../play-{{ game_w.id }}">
                [{{ game_w.name }}]: {{ game_w.white }} (You) vs {{ game_w.black }}
                {{ board_w|safe }}
            </a>
        </li>
    {% endfor %}
    {% for game_b, board_b in games_black %}
        <li class="w3-card-2">
            <a href="../play-{{ game_b.id }}">
                [{{ game_b.name }}]: {{ game_b.white }} vs {{ game_b.black }} (You)
                {{ board_b|safe }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}

{% block rightbar %}
<div class="w3-padding">
    <a href="{% url 'chessapp:new' %}">Start a new game</a>
</div>
{% for id, sender, name in requests %}
    <div class="w3-padding w3-section">
        Request from {{ sender }}: invitation to play in {{ name }}
        <form action="accept" method="POST">
            {% csrf_token %}
            <input type="hidden" id="id" value="{{ id }}">
            <input type="submit" value="accept" class="w3-input">
        </form>
    </div>
{% endfor %}
{% endblock rightbar %}

