<!DOCTYPE html>
{% load static %}

<html>
    <head>
    </head>
    <body>
        <header>
            <h1>
                Homepage
            </h1>
        </header>
        <section style="float:left;width:60%">
            <article>
                <header>
                    <h2>
                        {{ heading }}
                    </h2>
                </header>
                <ul id="games list">
                    {% for game_w in games_white %}
                        <li><a href="/play-{{ game_w.pk }}-white">
                            [{{ game_w.name }}]: {{ game_w.white }} vs {{ game_w.black }}
                        </a></li>
                    {% endfor %}
                    {% for game_b in games_black %}
                        <li><a href="/play-{{ game_b.pk }}-black">
                            [{{ game_b.name }}]: {{ game_b.white }} vs {{ game_b.black }}
                        </a></li>
                    {% endfor %}
                </ul>
            </article>
            <aside style="float:left;width:40%">
                <heading>
                    <h2>
                        Players in your group(s) (click on one to create a game):
                    </h2>
                </heading>
                <ul>
                    {% for player in players %}
                    <li><a href="{% url 'chessapp:new' %}?o={{ player }}">
                        {{ player }}
                    </a></li>
                    {% endfor %}
                </ul>
            </aside>
        </section>
        <footer>
            Credits: Harish and Arjun for webpage styling (CSS)
        </footer>
    </body>
</html>