{% extends 'chessapp/base.html' %}

{% load compile_static %}
{% load static %}

{% block metatitle %}
Login
{% endblock metatitle %}

{% block possiblelink %}
{% endblock possiblelink %}

{% block mainheader %}
Login
{% endblock mainheader %}

{% block modal %}
<div class="w3-modal">
<div class="w3-modal-content">
    <form class="w3-container" method="post" action="{% url 'chessapp:submit' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            <br>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Password:</label>
            <br>
            {{ form.password }}
        </div>
        <input type="submit" value="login" id="submit" class="w3-btn w3-orange w3-round w3-margin">
    </form>
    <script>
        var n = {...document.getElementsByTagName('input'), ...document.getElementsByTagName('textarea')};
        for (i=0; i<n.length; i++) {
            n[i].classList.add("w3-input");
           	};
    </script>
    <div class="w3-container">{{ invalid_login }}</div>
    <br>
    <div class="w3-orange formfooter w3-padding-small">Member of the staff? Click
        <a href="/staff">
            <button class="w3-btn w3-round w3-deep-orange">here</button>
        </a>
    </div>
</div>
</div>
{% endblock modal %}
