{% extends 'chessapp/base.html' %}

{% load compile_static %}
{% load static %}

<!-- Javascript -->
{% block script %}
<script>
    var gameIdFromURL = window.location.pathname.slice(6)
</script>
<!-- Board Updating and Server Connection -->
<script src="{% static 'chessapp/js/game-update.js' %}"></script>
<!-- Opponent Video/Audio Connection -->
<script id="WebRTC"></script>
{% endblock script %}

<!-- Title of the Webpage -->
{% block metatitle %}Play Chess{% endblock metatitle %}
{% block mainheader %}{{ game }}{% endblock mainheader %}


<!-- Modal Content -->
{% block only %}
<!--
<div id='modal' style="display: none">
    <div>
        Game Over!
    </div>
    <div id="modal-reason"></div>
    <div>
        <button onclick="connection.send(JSON.stringify({type:'POSTGAME', data:'delete'}))">Delete</button>
        <button onclick="connection.send(JSON.stringify({type:'POSTGAME', data:'save'}))">Save</button>
    </div>
</div>
-->
{% endblock only %}


<!-- Center Content -->
{% block content %}
<div id="svgContainer" class="w3-card-4" style="height: 56vw"></div>
<script id="start">
    redrawSVG('{{ current_board|safe }}');
</script>
{% endblock content %}

<!-- Right Bar Content -->
{% block rightbar %}
<!--
<div class="w3-card-4 w3-section" id="call">
    <video autoplay playsinline id="cam" style="display: inline-block; width: 528px; height: 297px"></video>
    <audio id="opponentSound" preload="auto" autoplay></audio>
</div>
<div class="w3-card-4 w3-section w3-padding" id="match-history">
    Learn your history
</div>
-->
<div class="w3-card-4 w3-section w3-padding" id="info">
    <img src="{% static 'chessapp/img/information.png' %}" width="16" height="16">
    <h6>Match Information</h6>
    <ul>
        <li>Standard Chess</li>
        <li>No Undoes</li>
        <li>Game ends on fivefold repetition</li>
        <li>Game ends at 75 moves</li>
    </ul>
    <p>You can't change these settings</p>
</div>
{% endblock rightbar %}
