{% extends 'chessapp/base.html' %}

<!-- Javascript -->
{% block script %}
<!-- Board Updating -->
<script src="{% static 'chessapp/js/game-update.js' %}"></script>
<!-- Opponent Video/Audio Connection -->
<script id="WebRTC"></script>
{% endblock script %}

<!-- Title of the Webpage -->
{% block metatitle %}Play Chess{% endblock metatitle %}
{% block mainheader %}{{ game }}{% endblock mainheader %}

<!-- Modal Content -->
{% block modal %}
<div id='modal' style='display:none'>
    <div>
        Game Over!
    </div>
    <div id="modal-aftercontent" style="display:none">
        <button onclick="connection.send(JSON.stringify({type:'POSTGAME', data:'delete'}))">Delete</button>
        <button onclick="connection.send(JSON.stringify({type:'POSTGAME', data:'save'}))">Save</button>
    </div>
</div>
{% endblock modal %}

<!-- Center Content -->
{% block content %}
<div id="svgContainer" class="w3-card-2"></div>
<script id="svgStart">
    redrawSVG('{{ current_board|safe }}');
</script>
{% endblock content %}

<!-- Right Bar Content -->
{% block rightbar %}
<div class="w3-card-2 w3-section" id="call">
    <video autoplay playsinline id="opponentCam"></video>
    <audio id="opponentSound" preload="auto" autoplay></audio>
</div>
<div class="w3-card-2 w3-section" id="match-history">
</div>
<div class="w3-card-2 w3-section">

</div>
{% endblock rightbar %}
